<div id="container">
	<div id="modeCont">
		<p id="inMode"></p>
	</div>
	<div id="syncCont">
		<p id="inSync"></p>
	</div>
	<div id="gridCont">
		<p id="inGrid"></p>
	</div>
	<div id="dirCont">
		<p id="inDir"></p>
	</div>
	<div id="altCont">
		<p id="inAlt"></p>
	</div>
	<div id="spdCont">
		<p id="inSpd"></p>
	</div>
	<div id="tmeCont">
		<p id="inTme"></p>
	</div>
</div>
