html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 14px; 
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	list-style-type: none;
	padding: 0px;
}

p {
	margin: 0px;
}

/* top bar */

#topBar {
	display: none;
	padding: 0px 2px 0px 2px;
	background-color: black;
	color: white;
	font-size: 12pt;
}

#statusBar{
	table-layout: fixed;
	width: 100%;
}

#inSync {
	text-align: center;
}

#inBatt {
	text-align: right;
}

#container {
	display: none;
	min-height: 100%;
	height: auto;
	margin: 0px auto -40px;
	padding: 0px 15px 0px 15px;
}

/* time & grid */

#tmeCont {
	padding: 15px 0 15px 0;
	font-size: 14pt;
}

#gridCont {
	font-size: 50px;
	text-align: center;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-weight: bold;
}

/* main info blocks */

.block {
	padding: 15px 0px 0px 0px;
	font-size: 14pt;
	line-height: 90%;
	width: 100%;
	table-layout: fixed;
}

.title {
	font-weight: bold;
}

.data {
	text-align: right;
}

tr.trBlock {
	background-color: #E6E6E4;
}